<nav class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item " [routerLink]="['/categorias']"  >Categorias</li>
    <li class="breadcrumb-item "  >Formulário de categoria</li>
  </ol>
</nav>
<div class="row mb-3">
  <div class="col-md">
    <h1 class="h2">{{ pageTitle }}</h1>
  </div>
  <div class="col-md">    
      <a [routerLink]="['/']"   class="btn btn-light float-end " >
      << Voltar
      </a>
  </div>
</div>


<form [formGroup]="categoriaForm" (submit)="submitCategoria()">
  <div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome <span>*</span></label>
          <input type="text" class="form-control" id="nome" formControlName="nome">   
          
          <div class="text-danger" *ngIf="categoriaForm.get('nome')?.invalid && categoriaForm.get('nome')?.touched ">
            <div *ngIf="categoriaForm.get('nome')?.errors?.required">Dado Obrigatorio</div>
            <div *ngIf="categoriaForm.get('nome')?.errors?.minlength">Deve ter no mininmo 2 caracteres</div>
          </div>
        </div>
        <div class="col-md-6 ">
          <label for="descricao" class="form-label">Descrição <span>*</span></label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>    
      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary float-end" [disabled]="submitForm || categoriaForm.invalid" >{{ textBtn}}</button>
     
    </div>

  </div>
</form>
